{% assign channels = site.pages['/'].children_in_nav_menu %}
{% assign faqs_channel = site.pages['/faqs'] %}
{% assign faqs = faqs_channel.children_in_list %}
{% assign links_channel = site.pages['/links'] %}
{% assign links = links_channel.children_in_list %}

<main class="relative">
    <!-- 自助服务 -->
    <section class="mx-auto max-w-2xl px-6 lg:px-8 my-4">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-pretty text-md font-semibold tracking-tight">{{ links_channel.link_text }}</h2>
        </div>
        <ul role="list" class="mx-auto max-w-2xl mt-4 grid grid-cols-4 gap-4 text-center">
            {% for item in links %}
                <li>
                    <a href="{{ item.path }}">
                        <img class="mx-auto w-8 h-8 size-6 rounded-full" src="{{ item.settings.icon }}" alt="">
                        <p class="text-sm mt-1">{{ item.link_text }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <!-- 热门问题 -->
    <section class="mx-auto max-w-2xl px-6 lg:px-8 my-4">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-pretty text-md font-semibold tracking-tight">{{ faqs_channel.link_text }}</h2>
        </div>
        <ul class="mt-4 divide-y divide-gray-200 rounded-xl border border-gray-200 shadow-sm">
            {% for item in faqs %}
                <li class="p-2 flex justify-between">
                    <a href="{{ item.path }}" class="truncate">{{ item.link_text }}</a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </li>
            {% endfor %}
        </ul>
                
    </section>
    <!-- 问题分类 -->
    <section class="mx-auto max-w-2xl px-6 lg:px-8 my-4">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-pretty text-md font-semibold tracking-tight">问题分类</h2>
        </div>
        <ul role="list" class="mx-auto max-w-2xl mt-4 grid grid-cols-2 gap-4">
            {% for item in channels %}
                <li>
                    <a href="{{ item.path }}" class="flex items-center space-x-3 text-left p-2 rounded-lg bg-slate-50 hover:bg-slate-300">
                        <img class="w-8 h-8 size-6 rounded-full" src="{{ item.settings.icon }}" alt="{{ item.link_text }}">
                        <p class="text-sm font-semibold">{{ item.link_text }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>

{% schema %}
    {
        "name": "Mobile first index",
        "thumb_url": "images/theme/index-mobile.png",
        "description": "mobile first theme",
        "preview_image_urls": [
            "images/theme/index-mobile.png"
        ],
        "sub_page_templates": [
            "channel","support","blog","videos","changelog","faq","page"
        ]
    }
{% endschema %}
