{% assign pages = site.pages['/support'].children_in_nav_menu %}

<div class="bg-accent/30 dark:bg-slate-700">
  <div class="py-4 mx-auto truncate max-w-7xl">
    {% render 'breadcrumb', breadcrumb: page.breadcrumb %}
  </div>
</div>

<div class="flex flex-col min-h-full bg-gray-50 dark:bg-slate-600">

  <div class="flex-1 lg:pb-24 sm:px-8 lg:pt-12 lg:px-12">
    <div class="flex flex-col justify-between mx-auto max-w-screen-xl md:flex-row">

      <!-- sidebar menu -->
      <aside class="order-2 pt-4 pl-4 pr-6 mt-8 lg:w-96 md:order-1 md:mt-0 md:pl-0" id="sidebar">
        <span class="block mb-4 text-xs font-bold tracking-widest uppercase text-slate-500">{{ site.pages['/support'].link_text }}</span>
        <!-- Docs nav -->
        <nav class="space-y-3">
          <ul class="">
              {% for item in pages %}
                  <!-- 1st level -->
                  <li class="mb-1" x-data="{ open: true }">
                  <div class="relative flex items-center justify-between p-1 {% if item.path == page.path %} font-semibold text-primary {% endif %}">
                      <div class="flex items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2 flex-0 shrink-0">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                          </svg>

                          {% if item.settings.show_list %}
                            <span class="font-bold text-slate-500">{{ item.link_text }}</span>
                          {% else %}
                            <a href="{{ item.path }}">{{ item.link_text }}</a>
                          {% endif %}
                      </div>
                      {% assign item_children_count = item.children_in_list | size %}
                      {% if item_children_count > 0  %}
                        <a href="#0" @click.prevent="open = !open" aria-haspopup="true" :aria-expanded="open">
                          <svg class="ml-2 fill-slate-400 shrink-0" :class="{ 'rotate-90': open }" width="8" height="10" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 2 2.414.586 6.828 5 2.414 9.414 1 8l3-3z" />
                          </svg>
                        </a>
                      {% endif %}
                  </div>
                  {% render 'tree', item:item, page: page %}
                  </li>
              {% endfor %}
          </ul>
        </nav>

      </aside>
      <!-- sidebar menu -->

      <!-- main content -->
      <main class="order-1 w-full md:order-2">
        {% if page.settings.show_list %}
          <div class="px-6 py-6 md:py-8 md:px-12 bg-white dark:bg-slate-600 dark:text-white rounded-md shadow-lg  shadow-slate-200">
            <h1 class="block w-full my-2 lg:my-4 text-2xl font-semibold text-left md:text-3xl">
              {{ page.settings.title }}
            </h1>
            <div>
              <div class="flex items-center space-x-2 mb-4">
                {% if site.settings.is_allow_author %}
                  <img src="{{ page.author.avatar_url | default: default_avatar_url }}" class="w-8 h-8 rounded-full" />
                {% endif %}
                <div>
                  {% if site.settings.is_allow_author %}
                    <p class="text-lead line-clamp-2 mb-[3px] text-gray-900 dark:text-gray-500 text-heading-6">
                      {{ page.author.name }}
                    </p>
                  {% endif %}
                  {% if site.settings.is_allow_published_at %}
                    <p class="text-sm text-gray-500 text-md">Published at：{{ page.published_at | date: "%Y-%m-%d" }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
            {% render 'page_list', page: page %}
          </div>
        {% else %}
          <div class="px-6 py-6 md:py-8 md:px-12 bg-white dark:bg-slate-600 dark:text-white rounded-md shadow-lg  shadow-slate-200">
            <h1 class="block w-full my-2 lg:my-4 text-2xl font-semibold text-left md:text-3xl">
              {{ page.settings.title }}
            </h1>

            <div>
              <div class="flex items-center space-x-2 mb-4">
                {% if site.settings.is_allow_author %}
                  <img src="{{ page.author.avatar_url | default: default_avatar_url }}" class="w-8 h-8 rounded-full" />
                {% endif %}
                <div>
                  {% if site.settings.is_allow_author %}
                    <p class="text-lead line-clamp-2 mb-[3px] text-gray-900 dark:text-gray-500 text-heading-6">
                      {{ page.author.name }}
                    </p>
                  {% endif %}
                  {% if site.settings.is_allow_published_at %}
                    <p class="text-sm text-gray-500 text-md">Published at：{{ page.published_at | date: "%Y-%m-%d" }}</p>
                  {% endif %}
                </div>
              </div>
            </div>

            <article class="max-w-full">
              <div class="overflow-auto">
                <div class="ProseMirror text-wrap prose sm:prose-base lg:prose-lg focus:outline-none dark:prose-invert">
                  {{ page.settings.content }}
                </div>
              </div>
            </article>

            <!--Tags-->
            {% if page.settings.tags.size > 0 %}
              <div class="flex items-center py-4 mt-4 space-x-2 text-xs font-light md:mt-8 shrink-0 ">
                  <p>{{ 'generic.tags' | t }}：</p>
                  {% for tag in page.settings.tags %}
                      <a href="{{ tag.path }}" style="background-color: {{ tag.color }}" class="px-2 py-1 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2">
                      {{ tag.name }}
                      </a>
                  {% endfor %}
              </div>
            {% endif %}

            <!-- Feedback -->
            {% render "feedback_form", page: page %}

          </div>
        {% endif %}
      </main>
      <!-- main content -->

    </div>
  </div>
</div>


<!--/ article-->
{% schema %}
    {
    "name": "Support文章详情",
    "thumb_url": "images/theme/page.png",
    "description": "文章模板，固定的布局",
    "sub_page_templates": ["support_detail"],
    "settings": [
        {
          "id": "show_list",
          "type": "checkbox",
          "default": "false",
          "label": "栏目",
          "info": "作为栏目页面，只显示子页面列表"
        },
        {
          "id": "title",
          "type": "text",
          "placeholder": "",
          "label": "标题",
          "info": "显示在正文上方的文章标题"
        },
        {
          "id": "description",
          "type": "text",
          "placeholder": "",
          "label": "描述",
          "info": "文章描述"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "页面内容"
        },
        {
          "id": "tags",
          "type": "tag_picker",
          "multiple": true,
          "label": "标签"
        },
        {
            "id": "icon",
            "type": "image_picker",
            "ratio": "1:1",
            "width": 60,
            "label": "图标"
        }
    ]
    }
{% endschema %}